
    <div class="sidebar-nav">
    <ul>
    <li><a  data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
    <li><ul class="dashboard-menu nav nav-list collapse in">
            <li><a href="/admin/"><span class="fa fa-caret-right"></span> Home</a></li>
            <li ><a href="/admin/users"><span class="fa fa-caret-right"></span>Registered Users</a></li>
            <li ><a href="/admin/messages"><span class="fa fa-caret-right"></span> Messages</a></li>
            <li ><a href="/admin/subscriber"><span class="fa fa-caret-right"></span>News Letter Subscribers</a></li>
            <li ><a href="calendar.html"><span class="fa fa-caret-right"></span> Calendar</a></li>
    </ul></li>

    <li><a  data-target=".premium-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-fighter-jet"></i> Premium Features<i class="fa fa-collapse"></i></a></li>
        <li><ul class="premium-menu nav nav-list collapse">
            <li ><a href="/admin/packagecreator"><span class="fa fa-caret-right"></span> Create Package</a></li>
            <li ><a href="/admin/blogwriter"><span class="fa fa-caret-right"></span> Write Blog</a></li>
            <li ><a href="/admin/packagemanager"><span class="fa fa-caret-right"></span>Packages Manger</a></li>
            <li ><a href="/admin/packagemanager"><span class="fa fa-caret-right"></span>Blog Manager</a></li>

            <li ><a href="/admin/adminmanager"><span class="fa fa-caret-right"></span> Manage Admins</a></li>
            <li ><a href="/admin/orders"><span class="fa fa-caret-right"></span>Bookings & Orders</a></li>
            <li ><a href="premium-timeline.html"><span class="fa fa-caret-right"></span> Activity Timeline</a></li>
            <li ><a href="premium-users.html"><span class="fa fa-caret-right"></span> Enhanced Users List</a></li>
            <li ><a href="premium-media.html"><span class="fa fa-caret-right"></span> Enhanced Media</a></li>
            <li ><a href="premium-invoice.html"><span class="fa fa-caret-right"></span> Invoice</a></li>
            <li ><a href="premium-build.html"><span class="fa fa-caret-right"></span> Advanced Tools</a></li>
            <li ><a href="premium-colors.html"><span class="fa fa-caret-right"></span> Additional Color Themes</a></li>
    </ul></li>

        <li><a data-target=".accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> Advnaced Features <i class="fa fa-collapse"></i></a></li>
        <li><ul class="accounts-menu nav nav-list collapse">
            <li ><a href="/admin/searchrecords"><span class="fa fa-caret-right"></span>Search Records</a></li>
            <li ><a href="/admin/searchstat"><span class="fa fa-caret-right"></span> Search Statistics</a></li>
            <li ><a href="/admin/request"><span class="fa fa-caret-right"></span>Package Requests</a></li>
    </ul></li>

        <li><a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Legal<i class="fa fa-collapse"></i></a></li>
        <li><ul class="legal-menu nav nav-list collapse">
            <li ><a href="privacy-policy.html"><span class="fa fa-caret-right"></span> Privacy Policy</a></li>
            <li ><a href="terms-and-conditions.html"><span class="fa fa-caret-right"></span> Terms and Conditions</a></li>
    </ul></li>

        <li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Help</a></li>
            <li><a href="http://www.planyourtours.com:8083/login/" target="_blank" class="nav-header"><i class="fa fa-fw fa-heart"></i>Control Panel</a></li>
                <li><a href="http://planyourtours.com/webmail" class="nav-header" target="blank"><i class="fa fa-fw fa-comment"></i>WebMail</a></li>
            </ul>
    </div>