
            <!-- footer-->
            <footer id="footer" class="footer-v1">
                <div class="container">
                    <div class="row">
                        <!-- Title Footer-->
                        <div class="col-md-5">
                            <div class="title-footer">
                                <h2>Save on your plans!
                                <br> <span>TourPlanners</span>
                                <br> get discounts by e-mail.</h2>
                            </div>

                            <p>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip planyourtours.com</p>
                        </div>
                        <!-- End Title Footer-->

                        <div class="col-md-7">
                            <div class="row">                             
                                <!-- Social Us-->
                                <div class="col-md-3">
                                    <h3>FOLLOW US</h3>
                                    <ul class="social">
                                        <li class="facebook"><span><i class="fa fa-facebook"></i></span><a href="#">Facebook</a></li>
                                        <li class="twitter"><span><i class="fa fa-twitter"></i></span><a href="#">Twitter</a></li>
                                        <li class="whatsapp"><span><i class="fa fa-whatsapp"></i></span><a href="#" title="+91 (INDIA)">9730727914</a></li>
                                    </ul>
                                </div>
                                <!-- End Social Us-->
                                
                                <!-- Recent links-->
                                <div class="col-md-5">
                                    <h3>TRAVEL SPECIALISTS </h3>
                                    <ul>
                                        <li><i class="fa fa-check"></i> <a href="#">Golf Vacations</a></li>
                                        <li><i class="fa fa-check"></i> <a href="#">Disney Parks Vacations</a></li>
                                        <li><i class="fa fa-check"></i> <a href="#">Vacations As Advertised</a></li>                                    
                                    </ul>
                                </div>
                                <!-- End Recent links-->

                                <!-- Contact Us-->
                                <div class="col-md-4">
                                   <h3>CONTACT US</h3>
                                   <ul class="contact_footer">
                                        <li>
                                            <i class="fa fa-envelope"></i> <a href="#">info@planyourtours.com</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-headphones"></i> <a href="#">(+91) 973 072 7914</a>
                                         </li>
                                        <li class="location">
                                            <i class="fa fa-home"></i> <a href="#"> Pune, INDIA 410506</a>
                                        </li>                                   
                                    </ul>
                                </div>
                                <!-- Contact Us-->
                            </div>  

                            <div class="divisor"></div>
                            
                            <div class="row">
                                <!-- Newsletter-->
                                <div class="col-md-12">
                                    <h3>NEWSLETTER SIGN UP</h3>  
                                    <form  action="/home" method="post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input class="form-control" placeholder="Your Name" name="name" type="text" required="required">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input class="form-control" placeholder="Your  Email" name="email" type="email" required="required">
                                                </div>
                                            </div>
                                            <input type="hidden" name="action" value="newsletter">
                                            <div class="col-md-2">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe">Subscribe</button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>   
                                </div>
                                <!-- end Newsletter-->
                            </div>                      
                        </div>
                    </div>
                </div>

                <!-- footer Down-->
                <div class="footer-down">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <p>&copy; Tour Planners . All Rights Reserved.  2015</p>
                            </div>
                            <div class="col-md-7">
                                <!-- Nav Footer-->
                                <ul class="nav-footer">
                                    <li>Developed By <a href="https://www.cloudstuffs.com" target="_blank">Cloudstuffs</a></li>
                                </ul>
                                <!-- End Nav Footer-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer Down-->
            </footer>      