
    <div class="content">
        <div class="header">
            
            <h1 class="page-title">Users</h1>
                    <ul class="breadcrumb">
            <li><a href="index.html">Home</a> </li>
            <li class="active">Users</li>
        </ul>

        </div>
        <div class="main-content">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email ID</th>
      <th>Contact No.</th>
      <th>Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{foreach $singleuser in $allusers}
    <tr>
      <td>{echo $singleuser->name}</td>
      <td>{echo $singleuser->email}</td>
      <td>{echo $singleuser->mobile}</td>
      <td>{echo $singleuser->gender}</td>
      <td>
          <a href="userprofile.html?id={echo $singleuser->id}"><i class="fa fa-pencil"></i></a>
          <a href="#{echo $singleuser->id}" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  {/foreach}

  </tbody>
</table>
{if count($contactus)>10}
{script $pagination = (count($contactus)/10)+1}
{var_dump($pagination)}
<center>
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</center>
{/if}
{foreach $singleuser in $allusers}
<div class="modal small fade" id="{echo $singleuser->id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>
{/foreach}
</div>
</div>
