            <!-- Section Title-->    
            <div class="section-title-01">
                <!-- Parallax Background -->
                <div class="bg_parallax image_02_parallax"></div>
                <!-- Parallax Background -->

                <!-- Content Parallax-->
                <div class="opacy_bg_02">
                     <div class="container">
                        <h1>About Us </h1>
                    </div>  
                </div>  
                <!-- End Content Parallax--> 
            </div>   
            <!-- End Section Title-->

            <!--Content Central -->
            <section class="content-central">
                <!-- Shadow Semiboxed -->
                <div class="semiboxshadow text-center">
                    <img src="{echo CDN }img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                <!-- End Shadow Semiboxed -->

                <!-- End content info - Team - Items-->
                <div class="content_info">
                    <div class="content_resalt">
                        <div id="team-carousel">
                            <!-- Item - Team -->
                            <div class="item-team-01">
                                <img src="{echo CDN }img/team/1.jpg" alt="">
                                <div class="info-team">
                                    <h4>Federick Gordon
                                    <span>Director Hotels</span>
                                    </h4>
                                    <p>We are a team of productive and efficient people in our trabajo.estamos to help with whatever you need.</p>
                                    <ul class="social-team">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Item - Team -->

                            <!-- Item - Team -->
                            <div class="item-team-01">
                                <img src="{echo CDN }img/team/2.jpg" alt="">
                                <div class="info-team">
                                    <h4>Federick Gordon
                                    <span>Director Hotels</span>
                                    </h4>
                                    <p>We are a team of productive and efficient people in our trabajo.estamos to help with whatever you need.</p>
                                    <ul class="social-team">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Item - Team -->

                            <!-- Item - Team -->
                            <div class="item-team-01">
                                <img src="{echo CDN }img/team/3.jpg" alt="">
                                <div class="info-team">
                                    <h4>Federick Gordon
                                    <span>Director Hotels</span>
                                    </h4>
                                    <p>We are a team of productive and efficient people in our trabajo.estamos to help with whatever you need.</p>
                                    <ul class="social-team">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Item - Team -->

                            <!-- Item - Team -->
                            <div class="item-team-01">
                                <img src="{echo CDN }img/team/4.jpg" alt="">
                                <div class="info-team">
                                    <h4>Federick Gordon
                                    <span>Director Hotels</span>
                                    </h4>
                                    <p>We are a team of productive and efficient people in our trabajo.estamos to help with whatever you need.</p>
                                    <ul class="social-team">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Item - Team -->
                        </div>
                    </div>
                </div>   
                <!-- End content info - Team - Items --> 

                <!-- End content info - Progress - Accrodion -->
                <div class="content_info">
                    <!-- Title -->
                    <div class="container">
                        <div class="row">
                            <div class="titles">
                                <h2><span>¿</span>Why <span>TourPlanners</span> are best<span>?</span></h2>
                                <i class="fa fa-plane"></i>
                                <hr class="tall">
                            </div>                    
                        </div>
                    </div>
                    <!-- End Title-->

                    <!-- content-->
                    <div class="container">
                        <div class="row padding-bottom">
                            <div class="col-md-6">
                                <!-- accrodation -->
                                <div class="accrodation">
                                    <!-- section 1 -->
                                    <span class="acc-trigger"><a href="#">Mision</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            Book cheap hotels and make payment facilities, free cancellation when the hotel so provides, compare prices and find all the options for your vacation.
                                        </div>
                                    </div>
                                  
                                    <!-- section 2 -->
                                    <span class="acc-trigger"><a href="#">Vision</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip travelia.com.
                                        </div>
                                    </div>
                               
                                    <!-- section 3 -->
                                    <span class="acc-trigger"><a href="#">What we offer?</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            Find a wide variety of airline tickets and cheap flights, hotels, tour packages, car rentals, cruises and more in travelia.com.You can choose your favorite destination and start planning your long-awaited vacation.
                                        </div>
                                    </div>
                                    
                                    <!-- section 4 -->
                                    <span class="acc-trigger active"><a href="#">Our services</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            You can also check availability of flights and hotels quickly and easily, in order to find the option that best suits your needs.Book cheap hotels and make payment facilities, free cancellation when the hotel so provides, compare prices and find all the options for your vacation.
                                        </div>
                                    </div>
                                </div> 
                                <!-- End accrodation -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- pro_bar -->
                                <div class="pro_bar">
                                    <h5>First Class Flights</h5>
                                    <div class="ui-progress-bar">
                                        <div class="ui-progress">
                                            <span class="ui-label"><b class="value">90%</b></span>
                                        </div>
                                    </div><!-- end section -->
                                    
                                    
                                    <h5>5 Star Accommodations</h5>
                                    <div class="ui-progress-bar">
                                        <div class="ui-progress two">
                                            <span class="ui-label"><b class="value">72%</b></span>
                                        </div>
                                    </div><!-- end section -->
                                    
                                    
                                    <h5>Inclusive Packages</h5>
                                    <div class="ui-progress-bar">
                                        <div class="ui-progress three">
                                            <span class="ui-label"><b class="value">80%</b></span>
                                        </div>
                                    </div><!-- end section -->
                                    
                                    
                                    <h5>Latest Model Vehicles</h5>
                                    <div class="ui-progress-bar">
                                        <div class="ui-progress four">
                                            <span class="ui-label"><b class="value">94%</b></span>
                                        </div>
                                    </div><!-- end section -->

                                    
                                    <h5>Best Price Guarantee</h5>
                                    <div class="ui-progress-bar">
                                        <div class="ui-progress five">
                                            <span class="ui-label"><b class="value">94%</b></span>
                                        </div>
                                    </div><!-- end section -->
                                </div>
                                <!-- End pro_bar -->
                            </div>
                        </div>
                    </div>
                    <!-- End content-->
                </div>   
                <!-- End content info - Progress - Accrodion --> 

                 <!-- End content info - Skin base-->
                <div class="content_info">
                    <div class="skin_base paddings-mini color-white text-center">
                        <h2>Need Help? Call our Team 7/365   -  +91 973 072 7914</h2>
                    </div>
                </div>   
                <!-- End content info - Skin base--> 

                <!-- End slide features - Parallax Section -->
                <div class="content_info">
                    <!-- Parallax Background -->
                    <div class="bg_parallax image_01_parallax"></div>
                    <!-- Parallax Background -->

                    <!-- Content Parallax-->
                    <div class="opacy_bg_02">
                        <ul id="slide-features">
                            <li>
                                <!-- content-->
                                <div class="container">
                                    <div class="row">
                                        <!-- Info Resalt - Info Services -->
                                        <div class="col-md-6">
                                            <div class="services-lines-info">
                                                <h2>We Provide You An Ultimate Travel Experience</h2>
                                                <p class="lead">
                                                    Book cheap hotels and make payment facilities.
                                                    <span class="line"></span>
                                                </p>

                                                <p>Find a wide variety of airline tickets and cheap flights, hotels, tour packages, car rentals, cruises and more in travelia.com.You can choose your favorite destination and start planning your long-awaited vacation. You can also check availability of flights and hotels quickly and easily, in order to find the option that best suits your needs.</p>
                                                <br>
                                                <p>Book cheap hotels and make payment facilities, free cancellation when the hotel so provides, compare prices and find all the options for your vacation.</p>
                                                <br>
                                                <a href="#" class="btn btn-primary">View Details</a>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <!-- End content-->
                            </li>
                            <!-- Item Slide Features  -->
                            <li>
                                <div class="container">
                                    <div class="row padding-top">
                                        <div class="col-md-6">
                                            <div class="img-hover">
                                                <div class="overlay"> <a href="{echo CDN }img/gallery-2/2.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                                <img src="{echo CDN }img/gallery-2/2.jpg" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="services-lines-info">
                                                <h2>Explore our latest tours </h2>
                                                <p class="lead">
                                                    Select Travelia Theme And Receive our discounts by e-mail.
                                                    <span class="line"></span>
                                                </p>

                                                <p>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip travelia.com.</p>
                                                <br>
                                                <a href="#" class="btn btn-primary">View Details</a>
                                            </div>
                                        </div>
                                   </div> 
                                   <!-- End Row  -->
                                </div> 
                                <!-- End Container  -->
                            </li>
                            <!-- End Item Slide Features  -->
                        </ul>
                    </div>  
                    <!-- End Content Parallax--> 
                </div>   
                <!-- End slide features - Parallax Section --> 

                <!-- End content info - Sponsors-->
                <div class="content_info">
                    <!-- Title -->
                    <div class="container">
                        <div class="row">
                            <div class="titles">
                                <h2>Our <span>Sponsors</span></h2>
                                <i class="fa fa-plane"></i>
                                <hr class="tall">
                            </div>                    
                        </div>
                    </div>
                    <!-- End Title-->

                    <!-- content-->
                    <div class="container">
                        <div class="row padding-bottom">
                            <div class="col-md-12">
                                <ul id="sponsors" class="tooltip-hover">
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/1.png" alt="Image"></a></li>
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/2.png" alt="Image"></a></li>
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/3.png" alt="Image"></a></li>
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/4.png" alt="Image"></a></li>
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/5.png" alt="Image"></a></li>
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/6.png" alt="Image"></a></li>
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/7.png" alt="Image"></a></li>
                                    <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="{echo CDN }img/sponsors/8.png" alt="Image"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End content-->
                </div>   
                <!-- End content info - Sponsors--> 
            </section>
            <!-- End Content Central -->