            <!-- Section Title-->    
            <div class="section-title-02">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Gallery</h1>
                        </div>
                        <div class="col-md-8">
                            <div class="crumbs">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>/</li>
                                    <li>Gallery</li>                                       
                                </ul>    
                            </div>
                        </div>
                    </div>
                </div>  
            </div>   
            <!--Content Central -->
            <section class="content-central">
                <!-- Shadow Semiboxed -->
                <div class="semiboxshadow text-center">
                    <img src="{echo CDN}img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                <!-- End Shadow Semiboxed -->

                <!-- End content info - Vacations Destinatios-->
                <div class="content_info">
                    <div class="paddings-mini">
                        <div class="container">
                            <!-- Nav Filters -->
                            <div class="portfolioFilter">
                                <a href="#" data-filter="*" class="current">Show All</a>
                                <a href="#beach" data-filter=".beach">Beach</a>
                                <a href="#nature" data-filter=".nature">Nature</a>
                                <a href="#extreme" data-filter=".extreme">Extreme</a>
                                <a href="#romantic" data-filter=".romantic">Romantic</a>
                            </div>
                            <!-- End Nav Filters -->

                            <!-- Items Gallery filters-->
                            <div class="row portfolioContainer">
                                
                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 nature">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/1.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/1.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            The Large Everest Mount<br>
                                            <span>HIMALAYA MOUNTAINS</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>45</div>
                                    </div>
                                </div>
                                <!-- End Item Gallery-->

                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 nature">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/2.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/2.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            Chinese Mountains<br>
                                            <span>ORIENTAL NATURE</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>25</div>
                                    
                                    </div>
                                </div>
                                <!-- End Item Gallery-->

                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 beach">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/3.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/3.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            Polynesia Bora Bora<br>
                                            <span>FRENCH ISLANDS</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>60</div>
                                    
                                    </div>
                                </div>
                                <!-- End Item Gallery-->

                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 beach">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/4.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/4.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            Tayrona Park<br>
                                            <span>SANTA MARTA COLOMBIA</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>75</div>
                                    
                                    </div>
                                </div>
                                <!-- End Item Gallery-->

                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 extreme">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/5.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/5.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            Extreme Mountains<br>
                                            <span>CLIMB TO THE TOP</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>20</div>
                                    
                                    </div>
                                </div>
                                <!-- End Item Gallery-->

                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 romantic">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/6.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/6.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            Tower Eiffel<br>
                                            <span>ITALIE FRANCE</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>15</div>
                                    
                                    </div>
                                </div>
                                <!-- End Item Gallery-->

                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 romantic">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/7.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/7.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            Beautiful Venice<br>
                                            <span>LOCATED IN ITALY</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>80</div>
                                    
                                    </div>
                                </div>
                                <!-- End Item Gallery-->

                                <!-- Item Gallery-->
                                <div class="col-xs-12 col-sm-6 col-md-4 romantic">
                                    <div class="img-hover">
                                        <img src="{echo CDN}img/gallery-2/8.jpg" alt="" class="img-responsive">
                                        <div class="overlay"><a href="{echo CDN}img/gallery-2/8.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    </div>

                                    <div class="info-gallery">
                                        <h3>
                                            Romantic Night<br>
                                            <span>BEAUTIFUL BEACHES</span>
                                        </h3>
                                        <hr class="separator">
                                        <p>Donec sodales sagittis magna. Sed consequat, leo eget.</p>
                                        <ul class="starts">
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                        </ul>
                                        <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                        <div class="price"><span>$</span><b>From</b>58</div>
                                    
                                    </div>
                                </div>
                                <!-- End Item Gallery-->
                            </div>   
                            <!-- End Items Gallery filters-->       
                        </div>
                    </div>
                </div>   
                <!-- End content info - Vacations Destinatios--> 
            </section>