

            <!-- Section Title-->    
            <div class="section-title-01">
                <!-- Parallax Background -->
                <div class="bg_parallax image_01_parallax"></div>
                <!-- Parallax Background -->

                <!-- Content Parallax-->
                <div class="opacy_bg_02">
                     <div class="container">
                        <h1>Our Services</h1>
                    </div>  
                </div>  
                <!-- End Content Parallax--> 
            </div>   
            <!-- End Section Title-->

            <!--Content Central -->
            <section class="content-central">
                <!-- Shadow Semiboxed -->
                <div class="semiboxshadow text-center">
                    <img src="img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                <!-- End Shadow Semiboxed -->

                <!-- End content info - Services Items-->
                <div class="content_info">
                    <div class="row">
                        <!-- Services Items -->
                        <div class="col-md-12">
                            <ul class="services-lines full-services">
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-bicycle"></i>
                                        <h5>Special Activities</h5>
                                    </div>
                                </li>
                                 <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-plane"></i>
                                        <h5>Travel Arrangements</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-user"></i>
                                        <h5>Private Guide</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-search-plus"></i>
                                        <h5>Location Manager</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-map-marker"></i>
                                        <h5>Handpicked Hotels</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-money"></i>
                                        <h5>Best Price Guarantee</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-bank"></i>
                                        <h5>Trust & Safety</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-line-chart"></i>
                                        <h5>Best Travel Agent</h5>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        <!-- End Services Items --> 
                    </div>
                </div>   
                <!-- End content info - Services Items --> 

                <!-- End Promotion Boxes - Parallax Section -->
                <div class="content_info">
                    <!-- Parallax Background -->
                    <div class="bg_parallax image_04_parallax"></div>
                    <!-- Parallax Background -->

                    <!-- Content Parallax-->
                    <div class="opacy_bg_02 padding-bottom">
                        <!-- Title -->
                        <div class="container">
                            <div class="row">
                                <div class="titles">
                                    <h2>The <span>Promotions</span> Bonus</h2>
                                    <i class="fa fa-money"></i>
                                    <hr class="tall">
                                </div>                    
                            </div>
                        </div>
                        <!-- End Title-->

                        <!-- content-->
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <!-- promotion-box-->
                                    <div class="promotion-box">
                                        <div class="promotion-box-header">
                                            <img src="img/sponsors/1.png" alt="img">
                                        </div>

                                        <div class="promotion-box-center color-1">
                                           <div class="prince">
                                                30
                                            </div>

                                            <div class="percentage">
                                                %<span>discount</span>.
                                            </div>
                                        </div>

                                        <div class="promotion-box-info">
                                            <p>Select a bonus 30% and access to all our discounts.</p>
                                            <a href="#" class="btn btn-primary">View Details</a>
                                        </div>
                                    </div>
                                    <!-- End promotion-box-->
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <!-- promotion-box-->
                                    <div class="promotion-box">
                                        <!-- promotion-box-header-->
                                        <div class="promotion-box-header">
                                            <img src="img/sponsors/2.png" alt="img">
                                        </div>
                                        <!-- End promotion-box-header-->

                                        <!-- promotion-box-center-->
                                        <div class="promotion-box-center color-2">
                                            <div class="prince">
                                                70
                                            </div>

                                            <div class="percentage">
                                                %<span>discount</span>.
                                            </div>
                                        </div>
                                        <!-- End promotion-box-center-->

                                        <!-- promotion-box-info-->
                                        <div class="promotion-box-info">
                                            <p>Select a bonus 70% and access to all our discounts.</p>
                                            <a href="#" class="btn btn-primary">View Details</a>
                                        </div>
                                        <!-- End promotion-box-info-->
                                    </div>
                                    <!-- End promotion-box-->
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <!-- promotion-box-->
                                    <div class="promotion-box">
                                        <div class="promotion-box-header">
                                            <img src="img/sponsors/5.png" alt="img">
                                        </div>

                                        <div class="promotion-box-center color-3">
                                            <div class="prince">
                                                50
                                            </div>

                                            <div class="percentage">
                                                %<span>discount</span>.
                                            </div>
                                        </div>

                                        <div class="promotion-box-info">
                                            <p>Select a bonus 50% and access to all our discounts.</p>
                                            <a href="#" class="btn btn-primary">View Details</a>
                                        </div>
                                    </div>
                                    <!-- End promotion-box-->
                                </div>

                                <div class="col-sm-6 col-md-3">
                                    <!-- promotion-box-->
                                    <div class="promotion-box">
                                        <div class="promotion-box-header">
                                            <img src="img/sponsors/3.png" alt="img">
                                        </div>

                                        <div class="promotion-box-center color-4">
                                            <div class="prince">
                                                60
                                            </div>

                                            <div class="percentage">
                                                %<span>discount</span>.
                                            </div>
                                        </div>

                                        <div class="promotion-box-info">
                                            <p>Select a bonus 60% and access to all our discounts.</p>
                                            <a href="#" class="btn btn-primary">View Details</a>
                                        </div>
                                    </div>
                                    <!-- End promotion-box-->
                                </div>
                            </div>
                        </div>
                        <!-- End content-->
                    </div>  
                    <!-- End Content Parallax--> 
                </div>   
                <!-- End Promotion Boxes - Parallax Section --> 


            </section>
            <!-- End Content Central -->