 <!-- Section Title-->    
            <div class="section-title-01">
                <!-- Parallax Background -->
                <div class="bg_parallax image_02_parallax"></div>
                <!-- Parallax Background -->

                <!-- Content Parallax-->
                <div class="opacy_bg_02">
                     <div class="container">
                        <h1>Page 404</h1>
                        <div class="crumbs">
                            <ul>
                                <li>OOPs! You misspelled it.</li>                                       
                            </ul>    
                        </div>
                    </div>  
                </div>  
                <!-- End Content Parallax--> 
            </div>   
            <!-- End Section Title-->

            <!--Content Central -->
            <section class="content-central">
                <!-- Shadow Semiboxed -->
                <div class="semiboxshadow text-center">
                    <img src="{echo CDN}img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                <!-- End Shadow Semiboxed -->

                <!-- End content info - page Fill with -->
                <div class="content_info">
                    <div class="paddings-mini">
                        <div class="container">
                            <div class="page-error">
                                <h1>404 <i class="fa fa-unlink"></i></h1>
                                 <hr class="tall">
                                <p class="lead">We're sorry, but the page you were looking for doesn't exist.</p>
                                <a href="index.html" class="btn btn-lg btn-primary">Return Home</a>       
                            </div>
                        </div>
                    </div>
                </div>   
                <!-- End content info - page Fill with  --> 
            </section>
            <!-- End Content Central -->